
<h1>Welcome to Volunteer Tracker</h1>

<div class="container">
  <a href="/projects">View All Projects</a>
  <br>
  <a href="/projects/new">Add New Project</a>
  <br>
  <a href="/volunteers">Show all volunteers</a>
  <br>
</div>
