





<h1>Your Current Projects</h1>

<% if @projects.any?() %>
  <h3>Click on project to see volunteers</h3>

  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/projects/<%= project.id()%>"><%= project.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no projects yet!</p>

<% end %>

<div>
<h3>Add New Project</h3>
<form  action="/projects" method="post">
  <div class="form-group">
    <label class='form-label' for="name">Create a project:</label>
    <input type="text" name="name" id='name' placeholder="Project Name" autofocus>
    <button type="submit" class="button btn">Add project</button>
  </div>
</form>
</div>
