<h1>Your Current volunteers</h1>

<% if @volunteers.any?() %>
  <h3>Here are your volunteers</h3>

  <ul>
    <% @volunteers.each() do |volunteer| %>
      <li><a href= "/volunteers/<%= volunteer.id()%>/edit"><%=volunteer.name()%></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no volunteers yet!</p>

<% end %>
